body {
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Tres columnas de igual tamaño */
    gap: 20px;
    /* Espacio entre las celdas de la cuadrícula */
}

.buto {
    margin-left: 20px;
}

.img_product {
    /* margin-block: 20px; */
    margin-right: 30px;
}

.card p {
    color: #000000;
}

a:link,
a:visited,
a:hover {
    text-decoration: none;
}

.card .btn {
    margin-top: 10px;
}

p span {
    font-weight: 600;
}
.wl {
    margin-bottom: 0px;
    color: black;
}

.wl1 {
    margin-top: 10px;
    color: rgb(128, 128, 128);
}

.imagewl img {
    height: 100%; 
    width: auto;
}

.imagewl {
    margin-inline: 100px;
    height: 250px;
    width: 300px;
}

.ima img {
    height: 100%; 
    width: auto;
}

.ima {
    
    height: 300px;
    width: auto;
}
