{% extends "auctions/layout.html" %}

{% block body %}
<h2>Listing: {{product.nameProduct}}</h2>
<form action="{% url 'product' product_name=product.nameProduct %}?product_id={{ product.id }}" method="post">
    {% csrf_token %}
    {% if user.is_authenticated %}
    {% if IsProduct %}
    <button type="submit" class="btn btn-danger" name="action" value="opcion1" style="font-size: 12px;">Delete
        to
        Watchlist</button>
    {% else %}
    <button type="submit" class="btn btn-secondary" name="action" value="opcion2" style="font-size: 12px;">Add
        Watchlist</button>
    {% endif %}
    {% else %}
    <button type="submit" class="btn btn-secondary" name="action" value="opcion3" style="font-size: 12px;">Add
        Watchlist</button>
    {% endif %}
</form>

<div class="d-flex flex-row ">
    <div class="p-2">
        <div class="ima">
            <img class="img_product" src="{{product.img_product}}" alt="img_product">
        </div>
    </div>
    <div class="p-2 w-50 img_product">
        <p>{{product.descriptionProduct}}</p>
        <h2>US$ {{product.currentPrice}}</h2>

        {% if messageF %}
        {% if user.id == product.ownerName.id %}
        <form action="{% url 'product' product_name=product.nameProduct %}?product_id={{ product.id }}" method="post">
            {% csrf_token %}
            <div class="input-group form-group ">
                <button type="submit" class="btn btn-primary" name="action" value="opcion4">View Report</button>
            </div>
        </form>
        {% else %}
        {% if "No" in messageF %}
        <div class="alert alert-secondary" role="alert">
            {{messageF}}
        </div>
        {% else %}
        <div class="alert alert-success" role="alert">
            {{messageF}}
        </div>
        {% endif %}
        {% endif %}
        {% else %}
        <form action="{% url 'product' product_name=product.nameProduct %}?product_id={{ product.id }}" method="post">
            {% csrf_token %}
            <div class="input-group form-group w-50 ">
                <span class="input-group-text">$</span>
                <input type="number" class="form-control" name="Bid" aria-label="Amount (to the nearest dollar)"
                    placeholder="" required step="0.01" value="{{ product.currentPrice }}">
            </div>

            {% if message %}
            <p>{{ message }}</p>
            {% endif %}

            {% if user.is_authenticated %}
            {% if user.id == product.ownerName.id %}
            <div class="input-group form-group ">
                <button type="submit" class="btn btn-danger" name="action" value="opcion4"">End the bidding</button>
                </div>
                {% else %}
                <div class=" input-group form-group ">
                    <input class=" btn btn-primary form-group" type="submit" value="Place Bid">
            </div>
            {% endif %}

            {% else %}
            <div class="input-group form-group ">
                <button type="submit" class="btn btn-primary" name="action" value="opcion3">Place Bid</button>
            </div>
            {% endif %}
        </form>
        {% endif %}


        <h3>Details</h3>
        <ul>
            <li>Listed By: {{product.ownerName.username}}</li>
            <li>Initial Price: ${{product.inicialPrice}}</li>
            <li>category: {{strCategories}}</li>
        </ul>
    </div>
</div>

<hr>

<h2>Comments</h2>

<form class="d-flex flex-row mb-3"
    action="{% url 'product' product_name=product.nameProduct %}?product_id={{ product.id }}" method="post">
    {% csrf_token %}
    <div class="p-2" style="width: 300px;">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample"
            aria-expanded="false" aria-controls="collapseWidthExample">
            Add comment
        </button>
    </div>
    <div class="p-2 w-75">
        <div class="collapse" id="collapseWidthExample">
            <textarea class="form-control" name="comment" placeholder="write your comment "
                aria-label="With textarea"></textarea>
            {% if user.is_authenticated %}
            <input style="margin-top: 10px;" class=" btn btn-primary form-group" type="submit" value="Comment">
            {% else %}
            <button style="margin-top: 10px;" type="submit" class="btn btn-primary" name="action"
                value="opcion3">Comment</button>
            {% endif %}
        </div>
    </div>
</form>


{% for comment in comments %}
<div class="d-flex flex-row mb-3 border rounded-end-circle border-secondary-subtle rounded border-bottom-0">
    <div class="p-2" style="width: 300px;">
        <h5>{{comment.user}}</h5>
        <p class="wl1">{{comment.timestamp|date:"F j, Y" }} at {{comment.timestamp|time:"g:i A" }}</p>
    </div>

    <div class="p-2 w-75 ">
        <p>{{comment.comment}}</p>
    </div>
</div>

{% endfor %}


{% endblock %}